<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <h1>EDIT  {{show.id}}</h1>
    <form action="/edit" method="post">
        <div class="container">
            <form action="/edit" method="post">
                <div class="mb-3">
                    <input type="hidden" name="id" value={{show.id}}>
                    <label for="title" class="form-label">TITLE</label>
                    <input type="text" class="form-control"  name="title" value="{{show.title}}">
                </div>
                <div class="mb-3">
                    <label for="network" class="form-label">network</label>
                    <input type="name" class="form-control" value="{{show.network}}" name="network">
                </div>
                <div class="mb-3">
                    <label for="release_date" class="form-label">release date</label>
                    <input type="date" class="form-control" value="{{show.release_date}}" name="release_date">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <input type="text" class="form-control" value="{{show.description}}" name="description">
                </div>
                <input type="submit" name="submit" value="UPDATE">
            </form>
            <a class=" btn btn-warning mt-2" href="/dashboard">TV SHOWS</a>
            <a class="btn btn-primary mt-2 float-end" href="/" >LOGOUT</a>
        </div>
    </form>
</body>
</html>